body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.kanban {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 30%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.task {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.task-item {
    background-color: #f0f0f0;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
